.service-hero {
  width: 100%;
  height: calc(100vw / 6);
  margin-top: 100px;
  position: relative;
  padding-left: 10%;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden ;


  @include md {
    margin-top: 0;
    height: 15vh;
  }

  @include sm{
    padding-left: 5%;
  }

  img{
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;

  }

  h3{
    font-size: 44px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 5px 0;
    opacity: 0.9;

    @include sm{
      font-size: 16px;
      margin: 0;
      font-weight: 700;
      margin: 3px 0;
    }
  }
}

.service-container {
  position: relative;
  width: 100%;
}

.service-left-line-dot {
  position: absolute;
  top: -150px;
  left: calc(10vw + 1.5px);
  width: 2px;
  height: calc(100% + 150px);
  z-index: 1;
  border-left: 1px dashed #707070;
}

.service-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.service-item1 {
  margin-top: 150px;
}

.service-item-title {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 5%;
  top: -70px;
  z-index: 2;
}

.service-item-title-card {
  width: 15%;
  height: 140px;
  border: $main-border;
  display: flex;
  flex-direction: column;

  @include md {
    width: 30%;
  }

  @include sm {
    width: 100%;
  }

  div {
    height: 50%;
    padding-left: 10px;
  }
}

.service-item-title-index {
  font-size: 18px;
  padding-top: 5px;
}
.service-item-title-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  line-height: 1.5;

  span {
    font-size: 13px;
    font-weight: $regular;
  }
}

.service-item:nth-child(odd) {
  .service-item-title-index {
    background: #f1f1f1;
  }
  .service-item-title-label {
    background: #f9f9f9;
  }
}
.service-item:nth-child(even) {
  .service-item-title-index {
    background: #f9f9f9;
  }
  .service-item-title-label {
    background: #f1f1f1;
  }
}

.service-item-title-line {
  width: 85%;
  height: 1px;
  background: #707070;
}


.service-item-desc {
  margin-left: 10%;
  padding: 120px 10% 90px 15%;

  img {
    width: 50%;
    margin-bottom: 60px;

    @include md{
      width: 100%;
    }
    @include sm{
      width: 95%;
    }
  }

  }



.service-item-desc1 img,
.service-item-desc4 img{
  width: 70%;

  @include md{
    width: 100%;
  }
  @include sm{
    width: 95%;
  }
}


.service-item-desc2-1 {
  padding: 120px 10% 0px 15%;
}
.service-item-desc2-2 {
  padding: 0px 10% 90px 15%;
}

.service-item:nth-child(odd) .service-item-desc {
  background: #f1f1f1;
}

.service-item-desc-jp,
.service-item-desc-en {
  line-height: 2;
  font-size: 15px;
  margin-bottom: 45px;
}


